.mainNav__wrapper {
    position: absolute;
    padding: 20px;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 3%;
    background-color: white;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}