.loginPage__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px solid red;
}

.loginPage__container {
    outline: 2px solid black;
}